table {
  padding-left: 20px;
}
h1{
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgb(190, 154, 154),
    rgb(255, 255, 255)
  );
  width: 300px;
   margin: auto;
   margin-top:20px;
   margin-bottom: 100px;
}
